USE [master]
GO
/****** Object:  Database [proyectofinal]    Script Date: 11/11/2025 09:27:01 p. m. ******/
CREATE DATABASE [proyectofinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyectofinal', FILENAME = N'C:\Users\kelvi\proyectofinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyectofinal_log', FILENAME = N'C:\Users\kelvi\proyectofinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyectofinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyectofinal]
GO
/****** Object:  Table [dbo].[Asistencias]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencias](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [nvarchar](10) NOT NULL,
	[hora_entrada] [time](7) NULL,
	[hora_salida] [time](7) NULL,
	[estado_asistencia] [varchar](20) NULL,
	[nota] [varchar](100) NULL,
	[id_empleado] [int] NOT NULL,
 CONSTRAINT [PK__Asistenc__D0454A9A6FB1E31A] PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](50) NOT NULL,
	[descripcion] [varchar](150) NULL,
	[salario_base] [decimal](10, 2) NOT NULL,
	[tipo_cargo] [varchar](20) NULL,
	[tipo_pago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pago]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pago](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NOT NULL,
	[concepto] [varchar](100) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[tipo_detalle] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[codigo_empleado] [int] NOT NULL,
	[nombre_empleado] [varchar](150) NOT NULL,
	[dui] [varchar](10) NOT NULL,
	[sexo] [char](1) NULL,
	[fecha_nacimiento] [nvarchar](11) NOT NULL,
	[direccion] [varchar](150) NULL,
	[telefono] [varchar](15) NULL,
	[salario_base] [decimal](10, 2) NULL,
	[fecha_ingreso] [nvarchar](11) NOT NULL,
	[estado_laboral] [varchar](20) NULL,
	[id_cargo] [int] NOT NULL,
 CONSTRAINT [PK__Empleado__88B5139484A19E0A] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[periodo_inicio] [date] NOT NULL,
	[periodo_fin] [date] NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[total_bruto] [decimal](10, 2) NOT NULL,
	[total_deducciones] [decimal](10, 2) NOT NULL,
	[total_neto] [decimal](10, 2) NOT NULL,
	[id_empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[nombre_reporte] [varchar](100) NOT NULL,
	[fecha_generacion] [date] NOT NULL,
	[tipo_reporte] [varchar](30) NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
	[contrasenia] [varchar](50) NOT NULL,
	[rol] [varchar](20) NULL,
	[codigo_empleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asistencias] ON 

INSERT [dbo].[Asistencias] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (11, N'2025-10-20', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Presente', N'Ninguna', 1)
INSERT [dbo].[Asistencias] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (12, N'2025-10-20', CAST(N'08:10:00' AS Time), CAST(N'17:00:00' AS Time), N'Tarde', N'Llegó 10 minutos tarde', 2)
INSERT [dbo].[Asistencias] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (13, N'2025-10-20', CAST(N'08:05:00' AS Time), CAST(N'16:50:00' AS Time), N'Presente', N'Salida anticipada', 3)
SET IDENTITY_INSERT [dbo].[Asistencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo], [tipo_pago]) VALUES (1, N'Gerente General', N'Encargado de la dirección general de la empresa', CAST(1500.00 AS Decimal(10, 2)), N'Directivo', N'Mensual')
INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo], [tipo_pago]) VALUES (2, N'Asistente Administrativo', N'Apoya en tareas administrativas y de oficina', CAST(800.00 AS Decimal(10, 2)), N'Administrativo', N'Mensual')
INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo], [tipo_pago]) VALUES (3, N'Técnico de Soporte', N'Brinda asistencia técnica al personal', CAST(700.00 AS Decimal(10, 2)), N'Operativo', N'PorHora')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Pago] ON 

INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (1, 1, N'Salario base quincenal', CAST(1500.00 AS Decimal(10, 2)), N'Ingreso')
INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (2, 1, N'Descuento ISSS y AFP', CAST(150.00 AS Decimal(10, 2)), N'Descuento')
INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (3, 2, N'Salario base quincenal', CAST(800.00 AS Decimal(10, 2)), N'Ingreso')
SET IDENTITY_INSERT [dbo].[Detalle_Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (1, 1001, N'Carlos Martínez', N'01234567-8', N'M', N'1988-03-22', N'Col. Roma #25, San Miguel', N'7777-1111', CAST(1500.00 AS Decimal(10, 2)), N'2020-01-15', N'Activo', 1)
INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (2, 1002, N'María López', N'02345678-9', N'F', N'1990-07-11', N'Av. Roosevelt #120, San Miguel', N'7777-2222', CAST(800.00 AS Decimal(10, 2)), N'2021-03-05', N'Activo', 2)
INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (3, 1003, N'José Hernández', N'03456789-0', N'M', N'1995-09-17', N'Barrio San Felipe #55', N'7777-3333', CAST(700.00 AS Decimal(10, 2)), N'2022-07-10', N'Activo', 3)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (1, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(1500.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)), CAST(1350.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (2, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(800.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), CAST(720.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (3, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(700.00 AS Decimal(10, 2)), CAST(70.00 AS Decimal(10, 2)), CAST(630.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Reporte] ON 

INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (1, N'Reporte de Asistencias - Semana 3', CAST(N'2025-10-21' AS Date), N'Asistencia', 2)
INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (2, N'Reporte de Pagos - Quincena 1 Octubre', CAST(N'2025-10-16' AS Date), N'Pago', 2)
INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (3, N'Reporte General de Empleados Activos', CAST(N'2025-10-10' AS Date), N'General', 1)
SET IDENTITY_INSERT [dbo].[Reporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [contrasenia], [rol], [codigo_empleado]) VALUES (1, N'admin', N'admin123', N'Administrador', NULL)
INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [contrasenia], [rol], [codigo_empleado]) VALUES (2, N'mlopez', N'clave2024', N'RRHH', NULL)
INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [contrasenia], [rol], [codigo_empleado]) VALUES (3, N'chernandez', N'tec123', N'Empleado', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ__Empleado__CDEF1DDFA3E3A3CC]    Script Date: 11/11/2025 09:27:01 p. m. ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ__Empleado__CDEF1DDFA3E3A3CC] UNIQUE NONCLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__D4D22D74BBB428CC]    Script Date: 11/11/2025 09:27:01 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencias]  WITH CHECK ADD  CONSTRAINT [FK__Asistenci__id_em__44FF419A] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Asistencias] CHECK CONSTRAINT [FK__Asistenci__id_em__44FF419A]
GO
ALTER TABLE [dbo].[Detalle_Pago]  WITH CHECK ADD FOREIGN KEY([id_pago])
REFERENCES [dbo].[Pago] ([id_pago])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK__Empleado__id_car__46E78A0C] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[Cargo] ([id_cargo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK__Empleado__id_car__46E78A0C]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK__Pago__id_emplead__47DBAE45] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK__Pago__id_emplead__47DBAE45]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Asistencias]  WITH CHECK ADD  CONSTRAINT [CK__Asistenci__estad__49C3F6B7] CHECK  (([estado_asistencia]='Justificado' OR [estado_asistencia]='Tarde' OR [estado_asistencia]='Ausente' OR [estado_asistencia]='Presente'))
GO
ALTER TABLE [dbo].[Asistencias] CHECK CONSTRAINT [CK__Asistenci__estad__49C3F6B7]
GO
ALTER TABLE [dbo].[Detalle_Pago]  WITH CHECK ADD CHECK  (([tipo_detalle]='Descuento' OR [tipo_detalle]='Ingreso'))
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [CK__Empleado__estado__4CA06362] CHECK  (([estado_laboral]='Suspendido' OR [estado_laboral]='Inactivo' OR [estado_laboral]='Activo'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [CK__Empleado__estado__4CA06362]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [CK__Empleado__sexo__4D94879B] CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [CK__Empleado__sexo__4D94879B]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD CHECK  (([tipo_reporte]='General' OR [tipo_reporte]='Planilla' OR [tipo_reporte]='Pago' OR [tipo_reporte]='Asistencia'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([rol]='Empleado' OR [rol]='RRHH' OR [rol]='Administrador'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConsultas]    Script Date: 11/11/2025 09:27:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetConsultas]
    @Filtro NVARCHAR(200) = NULL,
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @SoloActivos BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        E.id_empleado                AS IdEmpleado,
        E.codigo_empleado            AS CodigoEmpleado,
        CAST(E.codigo_empleado AS NVARCHAR(50)) AS CodigoExterno,
        E.nombre_empleado            AS NombreEmpleado,
        E.sexo                      AS Sexo,
        E.dui                       AS DUI,
        E.direccion                 AS Direccion,
        E.telefono                  AS Telefono,
        E.fecha_ingreso             AS FechaIngreso,
        E.estado_laboral            AS EstadoLaboral,
        C.nombre_cargo              AS NombreCargo,
        ISNULL(C.descripcion, '') AS TipoPago, -- ajustar si la columna es distinta
        ISNULL(C.salario_base, 0)      AS SalarioBase,
        A.estado_asistencia         AS EstadoAsistencia,
        A.nota                     AS Nota,
        A.fecha                    AS Fecha
    FROM Empleado E
    LEFT JOIN Cargo C ON E.id_cargo = C.id_cargo
    LEFT JOIN Asistencias A ON E.id_empleado = A.id_empleado
    WHERE
        (@Filtro IS NULL
         OR CAST(E.codigo_empleado AS NVARCHAR(50)) LIKE @Filtro
         OR E.nombre_empleado LIKE @Filtro
         OR E.dui LIKE @Filtro
         OR C.nombre_cargo LIKE @Filtro
         OR E.direccion LIKE @Filtro
         OR E.sexo LIKE @Filtro
         OR E.fecha_ingreso LIKE @Filtro
         OR E.estado_laboral LIKE @Filtro
         OR A.estado_asistencia LIKE @Filtro)
      AND
        (
            (@FechaInicio IS NULL AND @FechaFin IS NULL)
            OR (@FechaInicio IS NOT NULL AND @FechaFin IS NULL AND A.fecha = @FechaInicio)
            OR (@FechaInicio IS NULL AND @FechaFin IS NOT NULL AND A.fecha = @FechaFin)
            OR (@FechaInicio IS NOT NULL AND @FechaFin IS NOT NULL AND A.fecha BETWEEN @FechaInicio AND @FechaFin)
        )
    ORDER BY E.nombre_empleado;
END
GO
USE [master]
GO
