USE [master]
GO
/****** Object:  Database [proyectofinal]    Script Date: 10/27/2025 8:54:12 PM ******/
CREATE DATABASE [proyectofinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyectofinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyectofinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyectofinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\proyectofinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyectofinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyectofinal]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](7) NULL,
	[hora_salida] [time](7) NULL,
	[estado_asistencia] [varchar](20) NULL,
	[nota] [varchar](100) NULL,
	[id_empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](50) NOT NULL,
	[descripcion] [varchar](150) NULL,
	[salario_base] [decimal](10, 2) NOT NULL,
	[tipo_cargo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pago]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pago](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NOT NULL,
	[concepto] [varchar](100) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[tipo_detalle] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[codigo_empleado] [int] NOT NULL,
	[nombre_empleado] [varchar](150) NOT NULL,
	[dui] [varchar](10) NOT NULL,
	[sexo] [char](1) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[direccion] [varchar](150) NULL,
	[telefono] [varchar](15) NULL,
	[salario_base] [decimal](10, 2) NULL,
	[fecha_ingreso] [date] NOT NULL,
	[estado_laboral] [varchar](20) NULL,
	[id_cargo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[periodo_inicio] [date] NOT NULL,
	[periodo_fin] [date] NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[total_bruto] [decimal](10, 2) NOT NULL,
	[total_deducciones] [decimal](10, 2) NOT NULL,
	[total_neto] [decimal](10, 2) NOT NULL,
	[id_empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[nombre_reporte] [varchar](100) NOT NULL,
	[fecha_generacion] [date] NOT NULL,
	[tipo_reporte] [varchar](30) NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/27/2025 8:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asistencia] ON 

INSERT [dbo].[Asistencia] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (11, CAST(N'2025-10-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Presente', N'Ninguna', 1)
INSERT [dbo].[Asistencia] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (12, CAST(N'2025-10-20' AS Date), CAST(N'08:10:00' AS Time), CAST(N'17:00:00' AS Time), N'Tarde', N'Llegó 10 minutos tarde', 2)
INSERT [dbo].[Asistencia] ([id_asistencia], [fecha], [hora_entrada], [hora_salida], [estado_asistencia], [nota], [id_empleado]) VALUES (13, CAST(N'2025-10-20' AS Date), CAST(N'08:05:00' AS Time), CAST(N'16:50:00' AS Time), N'Presente', N'Salida anticipada', 3)
SET IDENTITY_INSERT [dbo].[Asistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo]) VALUES (1, N'Gerente General', N'Encargado de la dirección general de la empresa', CAST(1500.00 AS Decimal(10, 2)), N'Directivo')
INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo]) VALUES (2, N'Asistente Administrativo', N'Apoya en tareas administrativas y de oficina', CAST(800.00 AS Decimal(10, 2)), N'Administrativo')
INSERT [dbo].[Cargo] ([id_cargo], [nombre_cargo], [descripcion], [salario_base], [tipo_cargo]) VALUES (3, N'Técnico de Soporte', N'Brinda asistencia técnica al personal', CAST(700.00 AS Decimal(10, 2)), N'Operativo')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Pago] ON 

INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (1, 1, N'Salario base quincenal', CAST(1500.00 AS Decimal(10, 2)), N'Ingreso')
INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (2, 1, N'Descuento ISSS y AFP', CAST(150.00 AS Decimal(10, 2)), N'Descuento')
INSERT [dbo].[Detalle_Pago] ([id_detalle], [id_pago], [concepto], [monto], [tipo_detalle]) VALUES (3, 2, N'Salario base quincenal', CAST(800.00 AS Decimal(10, 2)), N'Ingreso')
SET IDENTITY_INSERT [dbo].[Detalle_Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (1, 1001, N'Carlos Martínez', N'01234567-8', N'M', CAST(N'1988-03-22' AS Date), N'Col. Roma #25, San Miguel', N'7777-1111', CAST(1500.00 AS Decimal(10, 2)), CAST(N'2020-01-15' AS Date), N'Activo', 1)
INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (2, 1002, N'María López', N'02345678-9', N'F', CAST(N'1990-07-11' AS Date), N'Av. Roosevelt #120, San Miguel', N'7777-2222', CAST(800.00 AS Decimal(10, 2)), CAST(N'2021-03-05' AS Date), N'Activo', 2)
INSERT [dbo].[Empleado] ([id_empleado], [codigo_empleado], [nombre_empleado], [dui], [sexo], [fecha_nacimiento], [direccion], [telefono], [salario_base], [fecha_ingreso], [estado_laboral], [id_cargo]) VALUES (3, 1003, N'José Hernández', N'03456789-0', N'M', CAST(N'1995-09-17' AS Date), N'Barrio San Felipe #55', N'7777-3333', CAST(700.00 AS Decimal(10, 2)), CAST(N'2022-07-10' AS Date), N'Activo', 3)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (1, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(1500.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)), CAST(1350.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (2, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(800.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), CAST(720.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Pago] ([id_pago], [periodo_inicio], [periodo_fin], [fecha_pago], [total_bruto], [total_deducciones], [total_neto], [id_empleado]) VALUES (3, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(700.00 AS Decimal(10, 2)), CAST(70.00 AS Decimal(10, 2)), CAST(630.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Reporte] ON 

INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (1, N'Reporte de Asistencias - Semana 3', CAST(N'2025-10-21' AS Date), N'Asistencia', 2)
INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (2, N'Reporte de Pagos - Quincena 1 Octubre', CAST(N'2025-10-16' AS Date), N'Pago', 2)
INSERT [dbo].[Reporte] ([id_reporte], [nombre_reporte], [fecha_generacion], [tipo_reporte], [id_usuario]) VALUES (3, N'Reporte General de Empleados Activos', CAST(N'2025-10-10' AS Date), N'General', 1)
SET IDENTITY_INSERT [dbo].[Reporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [password], [rol]) VALUES (1, N'admin', N'admin123', N'Administrador')
INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [password], [rol]) VALUES (2, N'mlopez', N'clave2024', N'RRHH')
INSERT [dbo].[Usuario] ([id_usuario], [nombre_usuario], [password], [rol]) VALUES (3, N'chernandez', N'tec123', N'Empleado')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ__Empleado__CDEF1DDF8C20E73F]    Script Date: 10/27/2025 8:54:12 PM ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__D4D22D746267D3F6]    Script Date: 10/27/2025 8:54:12 PM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Detalle_Pago]  WITH CHECK ADD FOREIGN KEY([id_pago])
REFERENCES [dbo].[Pago] ([id_pago])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[Cargo] ([id_cargo])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD CHECK  (([estado_asistencia]='Permiso' OR [estado_asistencia]='Tarde' OR [estado_asistencia]='Ausente' OR [estado_asistencia]='Presente'))
GO
ALTER TABLE [dbo].[Cargo]  WITH CHECK ADD CHECK  (([tipo_cargo]='Directivo' OR [tipo_cargo]='Operativo' OR [tipo_cargo]='Administrativo'))
GO
ALTER TABLE [dbo].[Detalle_Pago]  WITH CHECK ADD CHECK  (([tipo_detalle]='Descuento' OR [tipo_detalle]='Ingreso'))
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD CHECK  (([estado_laboral]='Suspendido' OR [estado_laboral]='Inactivo' OR [estado_laboral]='Activo'))
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD CHECK  (([tipo_reporte]='General' OR [tipo_reporte]='Planilla' OR [tipo_reporte]='Pago' OR [tipo_reporte]='Asistencia'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([rol]='Empleado' OR [rol]='RRHH' OR [rol]='Administrador'))
GO
USE [master]
GO
